*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "youngSerif";
    src: url(./YoungSerif-Regular.ttf) format(truetype);
}
body {
    padding: 50px;
}
h1,h2 {
    font-family: "youngSerif";
}
img {
    width: 100%;
    border-radius: 20px;
}
.hero-headline {
    margin: 20px 0;
}
.paragraph-headline {
    margin: 20px 0;
}
.first-section {
    background-color: #F5DADF;
    padding: 30px;
}
ul {
    padding: 10px 20px;
}
ul li {
    margin: 15px 0;
}
.ingr {
    margin-top: 20px;
    color: darkred;
}
hr {
    margin: 20px 0;
}
ol {
    padding: 10px 20px;
}
ol li {
    margin: 15px 0;
}
.paragraph-footer {
    margin: 20px 0;
}
.first-bond {
    display: flex;
}
.nutrition .row {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid lightgrey;
    padding: 10px 0;
}
.prepare {
    color: purple;
}
.color-font {
    color: darkred;
}

@media only screen and (max-width:500px) {
    body {
        padding: 0;
    }
    img {
        border-radius: 0;
    }
    section {
        padding: 0 20px;
    }
}
